body {
    margin-top: 5%;
    background-color: #1d1d1d;
}

div .container {
    margin-bottom: 30px;
}

.ganttchart-node {
    border: 1px black solid;
}

.ganttchart-node div {
}

.ganttchart {
    overflow-x: scroll;
}
